.container__small-card{
    display: flex;
    margin: .2em 0;
}

.small-card__photo{
    flex:1;
}

.small-card__photo>img{
    width: 100%;
}

.small-card__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.small-card__title>span{
    align-self: flex-start;
    margin-left: 1em;
    font-size: small;
    color: gray;
}